<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


{% seo %}
  </head>

  <body>
      
    
    <header>
      <div class="topnav-centered">
        <ul>
        <li><a href="https://krishnamurali177.github.io/">Home</a>

        </li>
        <li><a href="./projects.html">Projects</a>

        </li>
        <li><a href="./Resume - KrishnaMurali.pdf">Resume</a>

        </li>
        <li><a href="./another-page.html">Courses</a>

        </li>
    </ul>
        <a class="active" href="https://krishnamurali177.github.io/">Home</a>
        <a href="./another-page.html">Courses</a>
        <a href="./Resume - KrishnaMurali.pdf">Resume</a>
        <a href="./projects.html">Projects</a>
      </div>
      <div class="container">
        <a href="https://krishnamurali177.github.io/">
          <h1>Krishna Murali</h1>
          <img src="./LinkedInDP.png" alt="photo" style="width:125px;height:125px;" align="right">
        </a>
        
        <h2>Portfolio</h2>
        
        

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="https://www.linkedin.com/in/krishna-murali/" class="fa fa-linkedin"></a>
            <a href="https://www.facebook.com/krishna.murali.16" class="fa fa-facebook"></a>
          {% endif %}
          <a href="https://github.com/KrishnaMurali177" class="fa fa-github"></a>
        </section>
      </div>
    </header>
    
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
